@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding:0;
}

header .line{
    background-color: #117050;
    height: 10px;
}

.container{
    width: 95%;
    max-width: 1140px;
    margin: auto;
}

.bar{
    width: 168px;
    height: 22px;
    background-color: #117050;
}

h1{
    font-size: 90px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    line-height: 90px;
    margin: 0;
    margin-bottom: 30px;
}

h2{
    font-size: 35px;
    line-height: 45px;
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

.button{
    display: inline-block;
    padding: 10px 30px;
    border: 2px solid #454545;
    border-radius: 3px;
    color: #454545;
    text-decoration: none;
}

.button:hover{
    color: #fff;
    background-color: #454545;
}

.header--area{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.header--left img{
    width: 64px;
    height: 64px;
}

.header--right{
    display: flex;
    align-items: center;
}

.header--search form{
    display: flex;
}

.header--search input{
    font-size: 16px;
    padding: 8px 15px;
    border: 1px solid #999999;
    outline: 0;
    width: 100%;
    max-width: 250px;
}

.header--search button{
    border: 0;
    background: transparent;
    margin-left: -30px;
    cursor: pointer;
}

.header--search button img{
    width: 16px;
    height: 16px;
}

.header--menu{
    margin-left: 60px;
    cursor: pointer;
}

.header--menu img{
    width: 24px;
    height: 24px;
}

.banner{
    background-image: url('../../media/bg.jpg');
    background-position: center;
    background-size: cover;
    padding: 90px 0px;

}


.banner--images{
    margin-top: 60px;
}

.banner--images img{
    width: 148px;
    height: 148px;
    border: 6px solid #117050;
    border-radius: 50%;
    margin-right: 40px;
}

.area1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area1--content{
    padding: 80px;
}

.area1--quote{
    margin-top: 20px;
}

.area1--text{
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 25px;
}


.area1--img1{
    background-image: url('../../media/f2.jpg');
    background-size: cover;
    background-position: center;
    height: 350px;
}

.area1--img2{
    background-image: url('../../media/f1.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 2 / 3;
    grid-row: 1 / 3; 
}

.area2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area2--content{
    padding: 80px;
}


.area2--text{
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 25px;
}


.area2--img1{
    background-image: url('../../media/f4.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
}

.area2--img2{
    background-image: url('../../media/f3.jpg');
    background-size: cover;
    background-position: center;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.area3{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.area3--content{
    padding: 200px 80px;
    background-image: url('../../media/bg2.jpg');
    background-size: cover;
    background-position: left;
}


.area3--text{
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 25px;
}


.area3--img1{
    background-image: url('../../media/f5.jpg');
    background-size: cover;
    background-position: center;
}

.area4{
    display: grid;
    grid-template-columns: 450px 1fr;
    background-color: #ebe9ee;
}

.area4--content{
    padding: 150px 80px;
}

.area4--text{
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 25px;
}

.area4--img1{
    background-image: url('../../media/bg3.jpg');
    background-position: left;
}

.area5{
    background-image: url('../../media/bg4.jpg');
    background-size: cover;
    background-position: center; 
    height: 600px;
}

footer{
    background-color: #117050;
    color: #fff;
    display: flex;
    justify-content: center;
}

.developer-information{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    bottom: 0;
    right: 0;
}

.developer-links--area{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    font-size: 22px;
}

.developer-links--area .icons--area{
    display: flex;
    margin-left: 30px;
}

.developer-links--area .icons--area .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0d3f2d;
    margin-right: 10px;
}

.developer-links--area .icons--area .icon:hover{
    background-color: #117050
}

.developer-links--area .icons--area .icon img{
    width: 30px;
}

.developer-links--area .icons--area .icon:nth-child(1) img{
    width:40px;
}

.credits-area{
    font-size: 20px;
}

.credits-area span a{
    color: #fff;
    text-decoration: none;
}

.credits-area span a:hover{
    text-decoration: underline;
    font-style: italic;
}

@media (min-width:426) and (max-width:769px){
    .area1{
        grid-template-columns: 3fr 2fr;
    }

    .area2{
        grid-template-columns: 2fr 3fr;
    }

    .area3{
        grid-template-columns: 3fr 2fr;
    }
}

@media (max-width: 425px){
    .header--search input{
        max-width: 80px;
        font-size: 14px;
    }

    .header--search input::placeholder{
        font-size: 12px;
    }

    .header--search button{
        padding: 1px 3px;
        margin-left: -20px;
    }

    .header--search button img{
        width: 12px;
        height: 12px;
    }

    .header--menu{
        margin-left: 20px;
    }

    h1{
        font-size: 50px;
        line-height: 50px;
    }

    h2{
        font-size: 25px;
        line-height: 30px;
    }

    .container span{
        display: inline-block;
        width: 60%;
    }

    .banner--images img{
        width: 70px;
        height: 70px;
        border: 3px solid #117050;
        border-radius: 50%;
        margin-right: 10px;
    }

    .area1, 
    .area2,
    .area3,
    .area4{
        grid-template-columns: 1fr;
    }

    .area1--content,
    .area2--content,
    .area3--content,
    .area4--content{
        padding: 40px;
    }

    .area1--img1,
    .area2--img1{
        height: 200px;
    }

    .area5{
        height: 200px;
    }

    .developer-links--area{
        font-size: 10px;
        margin-bottom: 20px;
    }

    .developer-links--area .icons--area .icon{
        width:25px;
        height: 25px;
        margin-right: 5px;
    }
    
    
    .developer-links--area .icons--area .icon img{
        width: 15px;
    }
    
    .developer-links--area .icons--area .icon:nth-child(1) img{
        width:20px;
    }

    .credits-area{
        font-size: 10px;
        margin-bottom: 20px;
    }
}